ol{
    /* list-style-type:lower-roman;*/
     list-style-type:upper-latin;
     margin: 0;
     padding:0;
 }
 ol li{
     background-color: pink;
     margin: 5px;
     padding: 5px;
 }
 ul{
     list-style-type: square;
    /* list-style-image: url(bunga.jpg);*/
 }
 
 li {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 a{
     width: 50px;
     height: 50px;
     background-color: red;
     color: yellow;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 40px;
     text-align: center;
     border-radius: 25px;
     position: absolute;
     right: 30px;
     top: 30px;
     bottom: 50px;
     filter: drop-shadow(6px 6px 5px black);
 }
